/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    color: #111;
}

main h1 {
    font-size: 32px;
}

main h2 {
    font-size: 24px;
}

main h3 {
    font-size: 24px;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

a:visted {
    color: #fff;
}


.btn-warning {
    background-color:#ffa500;
}
/* My Content */
.heroSlider .row {
    align-items: center;
}
.what .row {
    align-items: center;
}

.why .row {
    align-items: center;
}
.advantages .row {
    align-items: center;
}
.FAQs .row {
    align-items: center;
}
.form .row {
    align-items: center;
}

/* Header */
header {
    background-color: #111;
    color: #fff;
    display: flex; /* Para que nav este en una linea con img*/
    align-items: center;
    justify-content: space-between;
}
header .left {
    margin: 10px;
    display: flex; /* Para que h2 este en una linea con lo demas */
}
header h2 {
    margin: 8px;
}
header .right {
    text-align: end;
}
header a {
    margin: 4px;
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .left {
    text-align: left;
    align-items: center;
    display: flex;
}
footer p {
    margin: 12px;
}
footer .right {
    text-align: end;
}
footer img {
    margin: 2px;
}

/* Media Screen for all sections */
@media only screen and (max-width: 600px){
    header {
      flex-direction:column;
    }
  }
  
  @media only screen and (max-width: 280px){
      header h2 {
          display:none;
      }
      header {
        flex-direction:column;
      }
      header .right {
          text-align: center;
      }
      footer .left {
          display:none;
      }
      footer .right {
          text-align:center;
      }
      footer {
          text-align: end;
          justify-content:flex-start;
          display:block;
          padding: 12px;
      }
    }

